<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>CloudFlare cache purge manager</title>
    <link rel="icon" href="templates/favicon.png" type="image/png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <style>
      #scrollTopBtn {
        position: fixed;
        bottom: 25px;
        right: 25px;
        z-index: 9999;
        display: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 22px;
      }
      body { 
       padding-top: 65px;
      }
    </style>
</head>
<body>
<main>
<div>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <div class="d-flex align-items-center me-auto">
        <a class="navbar-brand" href="/">Швидка очистка кешу Cloudflare для доменів:</a>
        <span class="spinner-border text-warning ms-2" role="status" id="spinnerLoading" style="visibility: hidden;"></span>
      </div>
      <div class="d-flex align-items-center">
        <input type="text" id="domainFilter" class="form-control" placeholder="🔍 Фільтр по домену…" autofocus>&nbsp;
          <select id="accountFilter" class="form-select form-select">
        </select>
      </div>
      <div class="ms-3">
        <div class="dropdown">
          <button class="btn btn-outline-light dropdown-toggle" type="button" id="appMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Меню
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="appMenuButton">
            <li><a class="dropdown-item" href="/logs/">Показати логи</a></li>
            {% if 'ADMIN' in (current_user.rights or '').upper() or '255' in (current_user.rights or '') %}
            <li><a class="dropdown-item" href="/admin_panel/users/">Адмін панель</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="ms-auto d-flex align-items-center">
        <form action="/logout/" method="POST">
          <button class="btn btn-outline-warning" type="submit" id="logoutButton" name="logout">🏃{{current_user.realname}}&nbsp;Вихід</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid px-2">
  <div class="table-responsive">
    <div id="overlayLoader" class="position-fixed d-flex w-100 h-100 justify-content-center align-items-center bg-white bg-opacity-75 d-none" style="z-index: 1050;">
    <div class="text-center">
      <div class="spinner-border text-primary mb-2"></div>
      <div class="fw-semibold">Завантажую {{accounts_count|safe}} аккаунтів…<br>Перший раз капець як довго,але далі буде кеш...</div>
    </div>
    </div>
    <table class="table table-bordered table-hover">
    <thead>
      <tr class="table-warning">
        <th scope="col" style="width: 3%;">ID</th>
        <th scope="col" style="width: 3%">Дії:</th>
        <th scope="col">Домен:</th>
        <th scope="col" style="width: 5%;">Статус:</th>
        <th scope="col" style="width: 10%;">NS сервери:</th>
        <th scope="col">Аккаунт:</th>
        <th scope="col" style="width: 10%;">ZoneID:</th>
        <th scope="col" style="width: 15%;">Регістратор:</th>
        <th scope="col" style="width: 7%;">Тариф:</th>
      </tr>
    </thead>
    <tbody id="domainsTableBody">
    </tbody>
    </table>
  </div>
</div>
<button id="scrollTopBtn" class="btn btn-dark shadow">↑</button>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Information:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <ul class=flashes style="margin-top: 33px;" id="message">
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      </div>    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" autofocus>Got it</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endwith %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</main>
</body>
</html>
